body{
	font-family: arial;
}

.acActive{
	color: #494949;
}

h2{
	width: 200px;
	cursor: pointer;
	background: #eee;
	padding: 10px;
}
.acIcon{
	float: left;
	width: 30px;
	display: block;
}

.acActive .acIcon img{
	behavior:url(-ms-transform.htc);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";
}